.one {
    border: solid black;
    border-width: 2px;
    background-color: grey;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.one .left {
    border: solid white;
    border-width: 2px;
}

.one .right {
    border: solid purple;
    border-width: 2px;
}

.two {
    border: solid red;
    border-width: 2px;
    background-color: blue;
}

.three {
    border: solid yellow;
    border-width: 2px;
    background-color: white;
}

.four {
    border: solid green;
    border-width: 2px;
    background-color: orange;
}
